.card:hover {
  transform: translateY(-2px);
  transition: 0.2s ease-in;
}

.card:hover .title {
  color: var(--cl-primary);
}

.card img {
  transition: all 0.5s ease 0s;
}

.card:hover img {
  transform: scale(1.1);
}

.card-box .card {
  background: none;
}

.card-box {
  position: relative;
}

.card-box span::before {
  content: "";
  position: absolute;
  width: 95%;
  height: 95%;
  background-color: ivory;
  border-radius: 50%;
  left: 0;
  top: 0;          /* dodato */
  z-index: -1;
  transition: all 0.3s ease; /* opcionalno za animaciju */
}